.container {
    display: flex;
    justify-content: center;

}

.main-buttons {
    position: relative;
    text-align: center;
    height: 100px;
    width: 200px;
    margin-top: 20%;
}
.testing{
    color:purple;
}
#btn-five{

}