body{
    background-color: rebeccapurple;
}
.container {
    display: flex;
    justify-content: center;

}
.main-buttons {
    position: relative;
    text-align: center;
    height: 100px;
    width: 200px;
    margin-top: 20%;
}
/*centers the video in the absolute center of the viewport*/
.video-style{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}